html {
    height: 100%;
}

body {
    min-height: 100%;
    padding-bottom: 70px;
    position: relative;
    font-family: 'Raleway', 'sans-serif' !important;
    background-image: url(/img/sky.jpg);
    background-size: cover;
}

#app {
    height: 100%;
}

.footer {
    width: 100%;
    height: 60px;
    padding: 10px;
    background-color: $footer-bg;
    border: 1px solid $footer-border-color;
    position: absolute;
    bottom: 0px;
}